<!-- Modal Structure -->
<div id="modal1" class="modal modal-premium">
  <div class="modal-content">
    <h5 class="white-text center bold">Descopera Premium</h5>
    <hr >
    <div class="m-container">
        <h5 class="white-text center bold" >Mai multe locuri de muncă</h5> 
        <h6 class="white-text center">Postează mai multe locuri de muncă pe lună </h6>
        <hr >
    </div>

    <div class="m-container">
        <h5 class="white-text center bold" >Chaturi Nelimitate</h5> 
        <p class="white-text center">Deblocați accesul la sute de candidați locali</p>
       <hr >
    </div>

    <div class="m-container">
        <h5 class="white-text center bold" >Angajare  rapidă</h5> 
        <p class="white-text center">Gaseste si angajea-za mai rapid talente </p>
     <hr >
    </div>
     <p class="m-container white-text center bold price-account">299 Lei pe luna</p>
    <div>
      <a href="/checkout" class="waves-effect waves-green btn white black-text center full-width-btn">Incearca acum</a>
     </div>
  </div>