 <label>
                        <input class="with-gap" type="radio" value="Barista și Barman" name="category" />
                        <span class="category-title">Barista și Barman</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Frumuseţe si Bunastare" />
                        <span class="category-title">Frumuseţe si Bunastare </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Îngrijitorii și sănătatea" />
                        <span class="category-title">Îngrijitorii și sănătatea </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Bucatar" />
                        <span class="category-title">Bucatar </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Curățenie" />
                        <span class="category-title">Curățenie</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Constructie" />
                        <span class="category-title">Constructie </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Sofer" />
                        <span class="category-title">Sofer</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Tehnologie si Inginerie" />
                        <span class="category-title">Tehnologie si Inginerie</span>
                    </label>
                    <hr>
                </div>
                <div class="col s12 m6">
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Educaţie" />
                        <span class="category-title">Educaţie </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Evenimente și promovare" />
                        <span class="category-title">Evenimente și promovare</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Bucătărie portar" />
                        <span class="category-title">Bucătărie portar </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Oficiu si Administratre " />
                        <span class="category-title">Oficiu si Administratre </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Vanzari si Marketing" />
                        <span class="category-title">Vanzari si Marketing</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Ospătar sau servitoare" />
                        <span class="category-title">Ospătar sau servitoare</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Depozit" />
                        <span class="category-title">Depozit</span>
                    </label>
                    <hr>

                    <label>
                        <input class="with-gap" type="radio" name="category" value="Alte" />
                        <span class="category-title">Alte</span>
                    </label>