<footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="grey-text text-darken-4">Footer Content</h5>
                    <p class="grey-text text-darken-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="grey-text text-darken-3">Title</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-3" href="#!">Terms</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="#!">Privacy</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="#!">Help</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="#!">Careers</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
      
    </footer>