<option value="Romana">Romana</option>
<option value="Rusa">Rusa</option>
<option value="Engleza">Engleza</option>
<option value="Franceza">Franceza</option>
<option value="Germana">Germana</option>
 <option value="Italian">Italiana</option>
<option value="Spaniola">Spaniola</option>
 <option value="Portugheza">Portugheza</option>
 <option value="Daneza">Daneza</option>
<option value="Araba">Araba</option>
<option value="Chineza">Chineza</option>
