  
    <option value="Chisinau">Chisinau</option>
    <option value="Anenii Noi">Anenii Noi</option>
    <option value="Balti">Balti</option>
    <option value="Basarabeasca">Basarabeasca</option>
    <option value="Briceni">Briceni</option>
    <option value="Călărași">Călărași</option>
    <option value="Cantemir">Cantemir</option>
    <option value="Căușeni">Căușeni</option>
    <option value="Ceadîr-Lunga">Ceadîr-Lunga</option>
    <option value="Cimișlia">Cimișlia</option>
    <option value="Comrat">Comrat</option>
    <option value="Cricova">Cricova</option>
    <option value="Criuleni">Criuleni</option>
    <option value="Dondușeni">Dondușeni</option>
    <option value="Drochia">Drochia</option>
    <option value="Dubăsari">Dubăsari</option>
    <option value="Edineț">Edineț</option>
    <option value="Fălești">Fălești</option>
    <option value="Florești">Florești</option>
    <option value="Glodeni">Glodeni</option>
    <option value="Hîncești">Hîncești</option>
    <option value="Ialoveni">Ialoveni</option>
    <option value="Leova">Leova</option>
    <option value="Leuseni">Leuseni</option>
    <option value="Nisporeni">Nisporeni</option>
    <option value="Ocnița">Ocnița</option>
    <option value="Orhei">Orhei</option>
    <option value="Rezina">Rezina</option>
    <option value="Rîbnița">Rîbnița</option>
    <option value="Rîșcani">Rîșcani</option>
    <option value="Sîngerei">Sîngerei</option>
   <option value="Șoldănești<">Șoldănești</option>
   <option value="Soroca">Soroca</option>
   <option value="Ștefan Vodă">Ștefan Vodă</option>
   <option value="Taraclia">Taraclia</option>
   <option value="Telenești">Telenești</option>
   <option value="Tighina">Tighina (Bender)</option>
   <option value="Tiraspol">Tiraspol</option>
   <option value="Ungheni">Ungheni</option>
   <option value="Vadul lui Vodă">Vadul lui Vodă</option>
   <option value="Vulcănești">Vulcănești</option>
 