    <nav class="white">
        <div class="container">
            <div class="nav-wrapper  lighten-4 ">

                <a href="#" class="brand-logo red-text text-lighten-1">Logo</a>
                <ul id="nav-mobile" class=" right hide-on-med-and-down">
                        <li>
                                <a href="/jobs" class="grey-text text-darken-4">Cauta</a>
                            </li>
                            <li>
                                <a href="/my-jobs" class="grey-text text-darken-4">Joburile Mele</a>
                            </li>
                            <li>
                                <a href="/chat" class="grey-text text-darken-4">Chat</a>
                            </li>
                    <li>
                        <a href="/login" class="waves-effect waves-light  btn ">Intra</a>
                    </li>
                    <li>
                        <a href="/signup"  class="waves-effect waves-light btn ">înregistrare</a>
                    </li>
                </ul>
            </div>
        </div>


        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="#!">one</a>
            </li>
            <li>
                <a href="#!">two</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#!">three</a>
            </li>
        </ul>


                    <!-- side-nav -->
        <ul id="slide-out" class="sidenav">
            <li>
                <a href="#!">Second Link</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="waves-effect" href="#!">Third Link With Waves</a>
            </li>

            <li>
                <a class="waves-effect" href="#!">Third Link With Waves</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

            <li>
                <a  href="/login"class="waves-effect waves-light btn ">Intra</a>
            </li>
            <li>
                <a href="/signup" class="waves-effect waves-light btn ">înregistrare</a>
            </li>

        </ul>

            <!-- hamburger -->
        <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons grey-text text-darken-4">menu</i>
        </a>
    </nav>