{{>NavBar}}
   {{>alerts}}
      <div class="row">
            <div class="col s12  m12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Schimbati Parola</h4>
                  <form method="post" action="/forgot/password/reset/{{result.forgotPasswordtoken }}">
                    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="password"   placeholder="Introduceți parola noua " name="newPassword"  required/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="password"   placeholder="Confirmati parola " name="confirmNewPassword"  required/>
                        </div>
                      </div>
                    <br>
                    <div class="row">
                      <button class="btn full-width-btn blue btn-large waves-effect waves-light " type="submit" >Confirmati
                      </button>
                    </div>
                  </form> 
              </div>
            </div>
          </div> 
      </div>