{{>NavBar}}
<div class="container">
   <div class="row">
    <div class="col s12 m12 l6 offset-l2">
       <h4 class="center">Setari</h4>
      <div class="collection center">
          <i class="material-icons center ">lock</i>
        <a href="/api/change/password" class="collection-item black-text "> Schimba Parola</a>
         <i class="material-icons ">email</i>
        <a href="/api/change/email" class="collection-item black-text ">Schimba Email</a>
         <i class="material-icons center ">live_help</i>
        <a href="/api/contact-us" class="collection-item black-text ">Ajutor</a>
      </div>
   </div>
   </div>
</div>