.login{
    margin-top: 50px;
}




.login-forgot-password {
    float: right;
    margin-bottom: 10px;
    &:hover{
        text-decoration: underline;
    }
}


.register-now{
    &:hover{
        text-decoration: underline;
    }
}