{{>MainNavBar}}
{{>alerts}}
<div class="container">
  <div class="job-add-wrapper">
    <div class="row">
      <div  class="col s12 m12    card-panel " >
      <form id="job_add_form" method="POST" action="/api/jobs/add" enctype="multipart/form-data">
        <div class="col s12 m12">
          <h5>Categoria <span class="red-text text-darken-2">*</span> </h5>
          <p class="category-error error"></p>
        </div>
        <div class="col s12 m6">
          {{>categories}}
          <hr>
        </div>

        <div class="col s12 m12">
         <h5>Functia <span class="red-text text-darken-2">*</span></h5>
          <p class="position-error error"></p>
          <div class="input-field">
            <input id="position" type="text"  data-length="70" maxlength="70" name="position">
          </div>
        </div>
        
        <div class="col s12 m12">
          <h5>Descrierea postului de munca <span class="red-text text-darken-2">*</span></h5>
          <p class="description-error error"></p>
          <div class="input-field">
            <textarea id="description" class="materialize-textarea" data-length="300"
              name="job_description" maxlength="300"></textarea>
            <span for="description"></span>
          </div>
        </div>
        <!--job description-->


        <div class="col m12">
          <h5>Oras <span class="red-text text-darken-2">*</span></h5>
          <p class="city-error error"></p>
          <!--select city-->
          <div class="input-field">
            <select name="city" id="city">
              {{>locations}}
            </select>
          </div>
        </div>

        <div class="col s12 m12">
          <h5>Grafic de munca<span class="red-text text-darken-2">*</span></h5>
          <p class="employement_type-error error"></p>
          <label>
            <input class="with-gap validate" type="radio" value="Timp deplin" name="employment_type" />
            <span>Timp deplin</span>
          </label>
          <br>
          <label>
            <input class="with-gap " type="radio" value="Cu jumătate de normă" name="employment_type" />
            <span>Cu jumătate de normă</span>
          </label>
        </div>

        <div class="col s12 m12 start_time ">
          <label>
            <input type="checkbox" value="Începeți imediat" name="immediate_start" />
            <span>Începeți imediat</span>
          </label>
        </div>

        <div class="col s12 m12">
          <div class="input-field">
            <h5>Salariu </h5>
            <div class="col s4 m4">
              <input type="number" placeholder="De La" name="salary_from" >
            </div>
           <div class="col s4 m4">
              <input type="number" placeholder="Pina La"  name="salary_to" >
            </div>
           <div class="col s4 m4">
               <select id="language" name="salary_currency" >
              <option value="MDL" select>MDL</option>
              <option value="USD" >USD</option>
              <option value="EUR" >EUR</option>
            </select>
            </div>
          </div>
          <div class="error-salary error"></div>
        </div>

        <!--additional information-->
        <div class="col m12">
          <p class="experience-error error"></p>
          <h5>Experienta de munca <span class="red-text text-darken-2">*</span></h5>
          <br>
          <label>
            <input class="with-gap" type="radio" value="experiență necesara" name="experience" />
            <span>Experienta  necesara</span>
          </label>
          <br>
          <label>
            <input class="with-gap" type="radio" value="Fără experiență" name="experience" />
            <span>Se accepta fara experienta</span>
          </label>
          <br>
        </div>
        <div class="col s12 m12">
          <h5>Limbi</h5>
          <div class="input-field">
            <select id="language" name="language" multiple>
              <option value="" disabled select>Selecteaza Limba</option>
              {{>languages}}
            </select>
          </div>
        </div>
        <!--image upload-->
        <div class="col s12 m12">
          <h5>Adauga imagine </h5>
          <div class="file-field input-field">
            <div class="btn blue ">
              <span> Incarca imagine</span>
              <input type="file" id="job_image" name="job_image" accept=".jpeg, .jpg, .png">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path " type="text" placeholder=" Incarca imagine">
            </div>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn blue right btn-margin">Adauga</button>
      </form>
      </div>
    </div>
    <!--row ends-->
  </div>
  <!--container-->
</div>