{{>NavBarEmployer}}
{{>alerts}}
<div class="container">
    <div class="job-add-wrapper">
        <div class="row">
            <form id="job_add_form" method="POST" action="/jobs/add" enctype="multipart/form-data">
            
                <div class="col s12 m12">
                    <h4>Categoria jobului <span class="red-text text-darken-2">*</span> </h4>
                    <!--obligatoriu-->

                    <p class="category-error error"></p>
                </div>
                <div class="col s12 m6">
                    <label>
                        <input class="with-gap" type="radio" value="Barista și Barman" name="category" />
                        <span class="category-title">Barista și Barman</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Frumuseţe si Bunastare" />
                        <span class="category-title">Frumuseţe si Bunastare </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Îngrijitorii și sănătatea" />
                        <span class="category-title">Îngrijitorii și sănătatea </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Bucatar" />
                        <span class="category-title">Bucatar </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Curățenie" />
                        <span class="category-title">Curățenie</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Constructie" />
                        <span class="category-title">Constructie </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Sofer" />
                        <span class="category-title">Sofer</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Tehnologie si Inginerie" />
                        <span class="category-title">Tehnologie si Inginerie</span>
                    </label>
                    <hr>
                </div>
                <div class="col s12 m6">
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Educaţie" />
                        <span class="category-title">Educaţie </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Evenimente și promovare" />
                        <span class="category-title">Evenimente și promovare</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Bucătărie portar" />
                        <span class="category-title">Bucătărie portar </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Oficiu si Administratre " />
                        <span class="category-title">Oficiu si Administratre </span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Vanzari si Marketing" />
                        <span class="category-title">Vanzari si Marketing</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Ospătar sau servitoare" />
                        <span class="category-title">Ospătar sau servitoare</span>
                    </label>
                    <hr>
                    <label>
                        <input class="with-gap" type="radio" name="category" value="Depozit" />
                        <span class="category-title">Depozit</span>
                    </label>
                    <hr>

                    <label>
                        <input class="with-gap" type="radio" name="category" value="Alte" />
                        <span class="category-title">Alte</span>
                    </label>
                    <hr>
                </div>

                <!--job description-->
                <!--obligatoriu-->
                <div class="col s12 m12">
                    <h4>Descriere job <span class="red-text text-darken-2">*</span></h4>
                    <p class="position-error error"></p>

                    <div class="input-field">
                        <input id="position" type="text" placeholder="Pozitie." data-length="70" maxlength="70" name="position">
                    </div>
                </div>


                <div class="col s12 m12">
                    <p class="description-error error"></p>

                    <div class="input-field">
                        <textarea id="description" class="materialize-textarea" data-length="300" placeholder="ex.Descriere."
                            name="job_description" maxlength="300"></textarea>
                        <span for="description"></span>
                    </div>
                </div>

                <div class="col m12">

                    <h4>Unde este localizat jobul ? <span class="red-text text-darken-2">*</span></h4>
                    <p class="city-error error"></p>
                    <!--select city-->
                    <!--obligatoriu-->
                    <div class="input-field">
                        <select name="city" id="city">
                            <option value="" selected>Orasul</option>
                            <option value="Chisinau">Chisinau</option>
                            <option value="Balti">Balti</option>
                        </select>
                    </div>
                </div>
                <div class="col s12 m12">
                    <h4>Tipul de angajare <span class="red-text text-darken-2">*</span></h4>
                    <p class="employement_type-error error"></p>

                    <!--obligatoriu-->
                    <label>
                        <input class="with-gap validate" type="radio" value="Timp deplin" name="employment_type" />
                        <span>Timp deplin</span>
                    </label>
                    <br>
                    <label>
                        <input class="with-gap " type="radio" value="Cu jumătate de normă" name="employment_type" />
                        <span>Cu jumătate de normă</span>
                    </label>
                </div>


                <div class="col s12 m12 start_time ">
                    <label>
                        <input type="checkbox" value="Începeți imediat" name="immediate_start" />
                        <span>Începeți imediat (optional)</span>
                    </label>
                </div>


                <div class="col s12 m12">
                    <div class="input-field">
                        <span>Salariu (optional)</span>
                        <input type="number" placeholder="Salariu lunar" name="salary" id="salary">
                    </div>
                    <div class="error-salary error"></div>
                </div>




                <!--additional information-->
                <div class="col m12">
                    <h4>Detalii Suplimentare</h4>
                    <p class="experience-error error"></p>

                    <span>Acest rol necesită experiență? <span class="red-text text-darken-2">*</span></span>
                    <!--obligatoriu-->
                    <br>
                    <label>
                        <input class="with-gap" type="radio" value="experiență necesara" name="experience" />
                        <span>Da</span>
                    </label>
                    <br>
                    <label>
                        <input class="with-gap" type="radio" value="Fără experiență" name="experience" />
                        <span>Nu</span>
                    </label>
                    <br>
                </div>
                <div class="col s12 m12">
                    <p>Sunt necesare anumite competențe lingvistice ? (optional)</p>
                    <div class="input-field">
                        <select id="language" name="language" multiple>
                            <option value="" disabled select>Selecteaza Limba</option>
                            <option value="Engleza">Engleza</option>
                            <option value="Germana">Germana</option>
                        </select>
                    </div>
                </div>
                <!--image upload-->
                <div class="col s12 m12">
                    <h4>Adauga imagine (optional)</h4>

                    <div class="file-field input-field">
                        <div class="btn blue ">
                            <span> Incarca imagine</span>
                            <input type="file" id="job_image" name="job_image" accept=".jpeg, .jpg, .png">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path " type="text" placeholder=" Incarca imagine">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn blue right">Posteaza<i class="material-icons right">send</i></button>

            </form>

        </div>
        <!--row ends-->
    </div>
    <!--container-->
</div>
