{{>NavBar}}

<!-- search -->
<div class="container">
    <div class="row">
        <form action="">
            <div class="col s12 m10">
                <div class="input-field">
                    <i class="material-icons  search-jobs-icon">search</i>
                    <input type="text" class="browser-default search-jobs-input" placeholder="Cauta"></input>
                </div>
            </div>
            <div class="col s12 m2">
                <button type="submit" class="btn  search-btn">Cauta </button>
            </div>
        </form>
    </div>

  </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col s12  m6 l4 ">
                <a href="/profile">
                    <div class="card-panel black-text border-radius-low ">
                        Barista și Barman

                    </div>
                </a>
            </div>
            <div class="col s12  m6 l4 ">
                <div class="card-panel black-text border-radius-low">
                    Frumuseţe si Bunastare
                </div>
            </div>
            <div class="col s12  m6 l4 ">
                <div class="card-panel black-text border-radius-low ">
                    Îngrijitorii și sănătatea
                </div>
            </div>
            <div class="col s12  m6 l4 ">
                <div class="card-panel black-text border-radius-low ">
                    Bucatar
                </div>
            </div>


            <div class="hidden-category">
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low">
                        Curățenie
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Constructie
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Tehnologie si Inginerie
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low">
                        Educaţie
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Evenimente și promovare
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Bucătărie portar
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Oficiu si Administratre
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Vanzari si Marketing
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Ospătar sau servitoare
                    </div>
                </div>
                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Depozit
                    </div>
                </div>

                <div class="col s12  m6 l4 ">
                    <div class="card-panel black-text border-radius-low ">
                        Alte
                    </div>
                </div>
            </div>
            <div class="col s12  m6 l4 ">
                <div class="card-panel blue-text all-category grey lighten-2 center border-radius-low ">
                    Vezi Toate
                </div>
            </div>
        </div>
</section>



<!-- Section: jobs -->

<section class="section section-popular">
    <div class="container">
        <div class="row">
        {{#if results}}
            {{#each results}}
            <div class="col s12 m6 l4">
                <a href="/job/details/{{id}}" target="_blank" class="black-text">
                    <div class="card hoverable ">
                        <div class="card-image  ">
                            {{#if this.image}}
                            <img src="{{this.image}}" alt="">
                            {{else}}
                               <img  src="/images/no_job_image.png" alt="">
                            {{/if}}
                            {{#if start_time}}
                           <span class="card-title yellow-text text-lighten-1 start-time">{{start_time}}</span>
                            {{/if}}
                        </div>

                        <div class="card-content card-content-jobs">
                            <p>
                                <b>
                                    {{#if salary}}
                                    <span class="salary-card blue-text">{{salary}} LEI </span>|
                                    {{/if}}
                                    <span>{{employment_type}}</span>
                                </b>
                            </p>

                            <p class="card-position"> <b>{{position}}</b> </p>
                            <p class="truncate description text-opacity">{{description}}</p>


                            <p class="text-opacity"><i class="material-icons">room</i>{{city}}</p>

                        </div>

                        <div class="card-action">
                            <a href="/job/details/{{id}}" class=" btn blue white-text text-lighten-1 waves-effect waves-light full-width-btn">
                                Vezi Mai mult</a>

                        </div>
                    </div>
              </div>
            </a>
            {{/each}}
            {{else}}
            <h4 class="center">Nici un job nu este disponibil la moment</h4>
          
         {{/if}}
              <ul class="pagination">
         {{#if res}}
               
                <li class="waves-effect"><a href='/jobs/{{res}}'>next</a></li>
             {{/if}}
               {{#if prev}}
               
                <li class="waves-effect"><a href='/jobs/{{prev}}'>prev</a></li>
             {{/if}}
               
             </ul>
        </div>
    </div>
</section>


{{>Footer}}