{{>NavBar}}

<section class="login">
 <div class="row">
        <div class="col s12 l4 offset-l4">
          <div class="card ">
            <div class="card-content">
              <h4 class="card-title center-align">Intra</h4>
               <form>
                  <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input type="email" id="email" class="validate" placeholder="Email" />
                    </div>
                    </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="password" class="validate" placeholder="Parola"/>
                  </div>
                </div>
                <a class="login-forgot-password" href="">Ai uitat parola ?</a>
                <p>
                    <label>
                        <input type="checkbox" />
                        <span>Tine minte</span>
                    </label>
                  </p>
                <br>
                <div class="row">
                  <button class="btn  login-btn btn-large waves-effect waves-light " type="submit" name="action">Intra
                  </button>
                </div>
              </form> 
              <p>
                Nu aveți cont? <a href="/signup">Înregistrare</a></p>
          </div>
        </div>
      </div> 
  </div>
</section>

{{>Footer}}