  <form id="test_form" method="POST">
  <div class="col s12 m12">
        <h4>Descriere job</h4>
    <div class="input-field">
    <input id="test" type="text"  name="test" >
  </div> 
</div>
<button type="submit" class="btn">Submit</button>
  <div id="status"></div>
</form>
{{!-- <div class="progress">
  <div class="determinate " id="progressBar" value="0" max="100" style="width: 0%"></div>
  <span class="sr-only"></span>
</div> --}}



