{{>NavBarEmployee}}
<div class="containe ">
  {{>alerts}}
  <div class="row">
    <div class="col s12 m12 l5 offset-l3">
      <div class="card  ">
     <a   href="/profile-edit/jobseeker" data-position="top" data-tooltip="Editeaza informatia personala" class="btn-floating blue btn-large waves-effect waves-light tooltipped right "><i class="material-icons left">create</i> </a>
        <div class="card-profile-image">
          <a href="/profile/avatar">
            {{#if this.result.avatar }}
            <img src="{{this.result.avatar}}" class="avatar">
            {{else}}
            <img src="/images/no_user.png" class="avatar">
            {{/if}}
        </div>
        </a>

        <div class="card-content center">
          <div>
           <a  href="/profile/avatar" data-position="top" data-tooltip="Editeaza forografia" class="btn-floating blue  waves-effect waves-light tooltipped "><i class="material-icons">create</i></a>
             <span><b>Editeaza forografia</b></span>
         </div>
          <h4>{{result.first_name}} {{result.last_name}}</h4>

          {{#if result.job_seeker_location}}
          <h6><i class="material-icons">place</i>{{result.job_seeker_location}}</h6>
          {{/if}}
          {{#if result.job_seeker_employment_type}}
          <h6><i class="material-icons">schedule</i> {{result.job_seeker_employment_type}}</h6>
          {{/if}}

          {{#if result.job_seeker_availability}}
          <h6 class=" green-text ">{{result.job_seeker_availability}}</h6>
          {{/if}}

          <div class="divider"></div>

          {{#if result.job_seeker_about_me}}
           <a href="/profile-edit/jobseeker" class="text-black">
              <div class="jb-profile-hover">
                <h4>Despre Mine</h4>
                <p>{{result.job_seeker_about_me}}</p>
              </div>
            </a>
          {{else}}
           <h4>Despre Mine</h4>
          <p class="text-opacity">Spune anagajatorilor mai mult despre tine...</p>
          {{/if}}
         
         
          <div class="divider"></div>
          <h4>Experienta</h4>        
          {{#if experience}}
          {{#each experience}}
          <a href="/jobseeker/experience/edit/{{id}}" class="text-black">
            <div class="jb-profile-hover">
              <p class="category"> {{category}}</p>
              <p>{{start_date}} — {{end_date}} </p>
              <p class="blue-text">{{#if years }}{{years}} ani {{/if}} {{#if months}} {{months}} luni {{/if}} {{#if days}} {{days}} zile {{/if}}</p>
              <h6><b>{{company_name}}</b></h6>
              <p>{{position}}</p>
              <p>{{responsibilities}}</p> 
            </div>
          </a>          
          {{/each}}

          {{else}}
          <h6>Adauga experienta pentru a mari sansele de a gasi de munca</h6>
          {{/if}}

          {{#if result.job_seeker_languages}}
          <a href="/profile-edit/jobseeker" class="text-black">
            <div class="jb-profile-hover">
                  <div class="divider"></div>
                  <h4>Limbi</h4>
                  <p><b>{{result.job_seeker_languages}}</b></p>
              </div>
           </a>
          {{/if}}

          {{#if result.job_seeker_education}}
            <div class="divider"></div>
            <a href="/profile-edit/jobseeker" class="text-black">
              <div class="jb-profile-hover">
                  <h4>Educatie</h4>
                  <p>{{result.job_seeker_education}}</p>
              </div>
             </a>
           </div>
        {{/if}}
        <div class="card-action center">
            <a  href="/jobseeker/experience" data-position="top" data-tooltip="Adauga Experienta" class="btn-floating blue  waves-effect waves-light tooltipped"><i class="material-icons">add</i></a>
             <span><b>Adauga experienta</b></span>
        </div>
      </div>
    </div>