{{>NavBarEmployee}}
<div class="container">
    {{>alerts}}
  <div class="row">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card grey lighten-5 z-depth-1">
        <a class="btn grey right tooltipped" href="/profile/avatar " data-position="top" data-tooltip="Schimba Imaginea"><i
            class="material-icons">create</i></a>
        <div class="card-profile-image">
           {{#if this.result.avatar}}
          <img src="{{this.result.avatar}}"
            class="avatar">
            {{else}}
                <img src="/images/no_user.img.png"
            class="avatar">
           {{/if}}
        </div>
        <div class="card-content center">
          <h4>Radu Prodan</h4>
          <h6><i class="material-icons">place</i> Chisinau</h6>
          <h6><i class="material-icons">schedule</i> Full-time</h6>
          <h6 class=" green-text ">I’m available for immediate start</h6>
          <div class="divider"></div>
          <h4>Despre Mine</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium.</p>

         

          <div class="divider"></div>
          <h4>Experienta</h4>
          <p>OCT 2017 — OCT 2018</p>
          <h6><b>MlG London</b></h6>
          <p>Bartender</p>
          <p >Engage enthusiastically with the diverse clientele of a large and quirky bar.
            Work with another bartender and used short-term memory to track customer orders.
            Maintain a clean, attractive, and organized bar.
            Mixing classic cocktails.</p>
          <div class="divider"></div>
          <h4>Limbi</h4>
          <p><b>Franceza, Spaniola, engleza</b></p>
          <div class="divider"></div>
          <h4>Educatie</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium.</p>
        </div>
        <div class="card-action center">
          <a class="btn blue center" href="/profile/edit/employer">Editeaza Profilul</a>
        </div>
      </div>
    </div>