{{>SimpleNavBar}}
  {{>alerts}}
  <!--password reset in account-->
      <div class="row">
            <div class="col s12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Schimba Parola</h4>
                  <form method="post" action="/change/password">
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="password"   placeholder="Parola Veche" name="oldPassword"  />
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input type="password"  placeholder="Confirma Parola" name="newPassword" />
                        </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s12">
                          <input type="password"  placeholder="Confirma Parola" name="confirmPassword" />
                        </div>
                      </div>
                    <br>
                    <div class="row">
                      <button class="btn full-width-btn blue btn-large waves-effect waves-light " type="submit" >Schimba Parola
                      </button>
                    </div>
                  </form> 
             
              </div>
            </div>
          </div> 
      </div>


