{{>SimpleNavBar}}
  {{>alerts}}
      <div class="row">
            <div class="col s12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Introduceți adresa de e-mail </h4>
                  <form method="post" action="/forgot/password">
                    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="email"   placeholder="Introduceți adresa de e-mail " name="forgotPswEmail"  required/>
                        </div>
                      </div>
                   
                    <br>
                    <div class="row">
                      <button class="btn full-width-btn blue btn-large waves-effect waves-light " type="submit" >Găsiți contul
                      </button>
                    </div>
                  </form> 
              </div>
            </div>
          </div> 
      </div>
