       {{#if error_msg}} 
              <div class="row" id="alert_box">
                <div class="container">
                  <div class="card red darken-1">
                    <div class="row">
                      <div class="col s12 m10">
                        <div class="card-content white-text ">
                        {{#each error_msg}}
                                <p>{{msg}}</p>
                        {{/each}}
                      </div>
                     </div>
                     <div class="col s12 m2">
                       <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                    </div>
                  </div>
                </div>
                </div>
              </div>
        {{/if}}
   
       {{#if success_msg}} 
              <div class="row" id="alert_box">
                <div class="container">
                  <div class="card green darken-1">
                    <div class="row">
                      <div class="col s12 m10">
                        <div class="card-content white-text ">
                        {{#each success_msg}}
                                <p>{{msg}}</p>
                        {{/each}}
                      </div>
                     </div>
                     <div class="col s12 m2">
                       <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                    </div>
                  </div>
                </div>
                </div>
              </div>
        {{/if}}

         {{#if info_msg}} 
              <div class="row" id="alert_box">
                <div class="container">
                  <div class="card blue darken-1">
                    <div class="row">
                      <div class="col s12 m10">
                        <div class="card-content white-text ">
                        {{#each info_msg}}
                                <p>{{msg}}</p>
                        {{/each}}
                      </div>
                     </div>
                     <div class="col s12 m2">
                       <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                    </div>
                  </div>
                </div>
                </div>
              </div>
        {{/if}}

         {{#if warning_msg}} 
              <div class="row" id="alert_box">
                <div class="container">
                  <div class="card yellow darken-1">
                    <div class="row">
                      <div class="col s12 m10">
                        <div class="card-content black-text ">
                        {{#each warning_msg}}
                                <p>{{msg}}</p>
                        {{/each}}
                      </div>
                     </div>
                     <div class="col s12 m2">
                       <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                    </div>
                  </div>
                </div>
                </div>
              </div>
        {{/if}}

        