{{>SimpleNavBar}}

<section class="login">
   {{>alerts}}
      <div class="row">
            <div class="col s12  m12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Intra</h4>
                  <form method="post" action="/login" id="login-form">
                      <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="email-login" class="validate " placeholder="Email" name="username"  />
                           <p class="errorEmailLogin error center"></p>
                        </div>
                        </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password-login" class="validate" placeholder="Parola" name="password" min="1" max="2"/>
                         <p class="errorPasswordLogin error center"></p>
                      </div>
                    </div>
                    
                    <a class="login-forgot-password" href="/forgot/password">Ai uitat parola ?</a>
                    
                    {{!-- <p>
                        <label>
                            <input type="checkbox" />
                            <span>Tine minte</span>
                        </label>
                      </p> --}}
                    <br>
                    <div class="row">
                      <button class="btn  full-width-btn btn-large waves-effect waves-light " type="submit" name="action">Intra
                      </button>
                    </div>
                  </form> 
                  <p>
                    Nu aveți cont? <a href="#" class="dropdown-trigger hover-underline"  data-target='RegisterNowLogin'>Înregistrati-va acum</a></p>

                <!-- Dropdown Structure -->
                <ul id='RegisterNowLogin' class='dropdown-content'>
                  <li><a href="/signup/employer">Agajator</a></li>
                   <div class="divider"></div>
                  <li><a href="/signup/jobseeker" >Angajat</a></li>
                </ul>
              </div>
            </div>
          </div> 
      </div>
    </section>

{{>Footer}}