.section-search-home-page {
    background-image:$evening-sunshine;
    height: 400px;
}
 
.navbar-home-page-bg{
    background-image:linear-gradient(-90deg, #b92b27,#1565C0);
     color: white;
}

.hp-btn-search{
    background-color: $evening-sunshine;
}
@media (max-width:600px){

    .welcome-title{
      font-size: 45px;
    }
}