     <div class="navbar-fixed navbar-home-page">
        <nav class="navbar-home-page">
            <div class="nav-wrapper  lighten-4 ">
                <div class="container">
                    <a href="/" class="brand-logo red-text text-lighten-1">LOGO</a>

                     <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="/jobs" class="white-text text-darken-4">Exploreaza Joburi</a>
                        </li>
                        <li>
                            <a href="/help" class="white-text text-darken-4">Creaza CV</a>
                        </li>

                        <li>
                            <a href="/login" class="white-text text-darken-4">Angajat Intrare</a>
                        </li>
                       

                        <li>
                            <a href="/jobs/add" class="btn blue  waves-effect waves-light">Posteaza Job</a>
                        </li>
                    </ul>
                    <!-- hamburger -->
                </div>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons grey-text text-darken-4">menu</i>
                </a>
                <!--right side-->

                <ul id="nav-mobile" class=" right hide-on-med-and-down">

                </ul>
            </div>



            <!-- side-nav -->
            <ul id="slide-out" class="sidenav">
                <li>
                    <a href="/jobs" class="grey-text text-darken-4">Exploreaza Joburi</a>
                </li>
                <li>
                    <a href="/login" class="grey-text text-darken-4">Angajat Intrare</a>
                </li>
                <li>
                    <a href="/help" class="grey-text text-darken-4">Ajutor</a>
                </li>
                <li>
                    <a href="/employer/signup" class="grey-text text-darken-4">Intrare Angajat</a>
                </li>
                <li>
                    <a href="/jobs/add" class="btn  waves-effect waves-light">Posteaza Job</a>
                </li>

            </ul>
        </nav>
    </div>