{{>NavBarEmployer}}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l4">
          <div class="card">
               <form action='' class="search_candidates_form">
                <h6><b>Cauta Candidati</b></h6>
                     <i class="material-icons  search-candidate-icon">search</i>
                      <input type="text" class="browser-default search-cadidate-input" placeholder="cauta candidati">
                    <h6><b>Experienta de munca</b></h6>
                        <select class="browser-default">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                         <p class="range-field">
                             candidate                        
                        <input type="range" id="test5" min="0" max="100" />
                        </p>
                        <button class="btn blue search-candidate-btn" type="submit">Cauta</button>
                </form>
          </div>
        </div>
        <div class="col s12 m12 l8">
          <div class="candidates-list">
            <div class="collection " >
            <a href="/candidate_details" class="candidates-list-item"> 
                <img src="https://randomuser.me/api/portraits/men/23.jpg" alt="" class="candidate-search-avatar ">
                <div class="about-candidate">
                 <p class="right text-opacity"><i class="material-icons">place</i> Chisinau</p>
                 <h6><b>Patrick Viera</b></h6>
                <p><b>Bartender-Barista</b> <span class="">- 6 luni</span><br>
                 <b>Despre: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
                </p>
                </div>
              </li>
              </a> 
                 <a href="/candidate_details" class="candidates-list-item"> 
                <img src="https://randomuser.me/api/portraits/men/23.jpg" alt="" class="candidate-search-avatar ">
                <div class="about-candidate">
                 <p class="right text-opacity"><i class="material-icons">place</i> Chisinau</p>
                 <h6><b>Patrick Viera</b></h6>
                <p><b>Bartender-Barista</b> <span class="">- 6 luni</span><br>
                 <b>Despre: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
                </p>
                </div>
              </li>
              </a>  
                     <a href="/candidate_details" class="candidates-list-item"> 
                <img src="https://randomuser.me/api/portraits/men/23.jpg" alt="" class="candidate-search-avatar ">
                <div class="about-candidate">
                 <p class="right text-opacity"><i class="material-icons">place</i> Chisinau</p>
                 <h6><b>Patrick Viera</b></h6>
                <p><b>Bartender-Barista</b> <span class="">- 6 luni</span><br>
                 <b>Despre: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
                </p>
                </div>
              </li>
              </a>  
                     <a href="/candidate_details" class="candidates-list-item"> 
                <img src="https://randomuser.me/api/portraits/men/23.jpg" alt="" class="candidate-search-avatar ">
                <div class="about-candidate">
                 <p class="right text-opacity"><i class="material-icons">place</i> Chisinau</p>
                 <h6><b>Patrick Viera</b></h6>
                <p><b>Bartender-Barista</b> <span class="">- 6 luni</span><br>
                 <b>Despre: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
                </p>
                </div>
              </li>
              </a>  
            </div>
          </div>
          
        </div>
    </div>
</div>