 {{!--Navbar jobseeker --}}
      <ul id="nav-mobile" class=" right hide-on-med-and-down">
        <li>
          <a href="/jobs">Exploreaza joburi</a>
        </li>
        <li>
          <a href="/my/applications">Aplicațiile mele</a>
        </li>
        <li>
          <a href="/chat">Chats</a>
        </li>
        <li>
          <a href="/api/profile">Cv meu</a>
        </li>

        <ul id="nav-mobile" class=" right hide-on-med-and-down">
          <!--dropdown-->
          <li>
            <a class="dropdown-trigger black-text" href="#!" data-target="moreNavBar">
              <span class="white-text">Profil</span>
              <i class="material-icons right white-text">arrow_drop_down</i>
            </a>
          </li>
          <ul id="moreNavBar" class="dropdown-content">
            <li>
              <a href="/api/settings">Setari</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/api/logout">Iesire</a>
            </li>
          </ul>
        </ul>
      </ul>
      <!-- hamburger -->
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons white-text ">menu</i>
      </a>