{{!sidenav jobseeker }}
<ul id="slide-out" class="sidenav">
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="/jobs">
      Exploreaza joburi
    </a>
  </li>
  <li>
    <a href="/my/applications">
      Aplicațiile mele
    </a>
  </li>
  <li>
    <a href="/chat">
      Chats
    </a>
  </li>

  <li>
    <a href="/api/profile">
      Cv meu
    </a>
  </li>
  <!--dropdown-->
  <li>
    <a class="dropdown-trigger" href="#!" data-target="moreSideNav">
      Profil
      <i class="material-icons right">
        arrow_drop_down
      </i>
    </a>
  </li>

  <ul id="moreSideNav" class="dropdown-content">
    <li>
      <a href="/api/settings">
        Setari
      </a>
    </li>
    <li>
      <a href="/api/logout" class="waves-effect waves-light btn">
        Iesire
      </a>
    </li>
    <li class="divider"></li>
  </ul>
</ul>