<nav class="blue white-text">
  <div class="nav-container">
    <div class="nav-wrapper  lighten-4 ">
      <span id="brand-name">ANGAJAT.CO</span>
      {{#if isAuthenticated}}

      {{#if JobSeeker}}
       {{>JobSeekerAppBar}}
       {{>JobSeekerSideNav}}
      {{/if}}

      {{#if Employer}}
      {{>EmployerAppBar}}
      {{>EmployerSideNav}}
      {{/if}}
         
      {{else}}
         {{>NavBarUnthenticated}}
      {{/if}}
    </div>
  </div>
</nav>
<div>
  {{>accountPremium}}
</div>
<div class="right" id="ytWidget"></div>
