<nav class="blue white-text">
  <div class="container">
    <div class="nav-wrapper  lighten-4 ">
      <a href="/api/profile" class="brand-logo red-text text-lighten-1">Logo</a>
      {{#if isAuthenticated}}
      
      {{#if JobSeeker}}
       {{>JobSeekerAppBar}}
       {{>JobSeekerSideNav}}
      {{/if}}

      {{#if Employer}}
      {{>EmployerAppBar}}
      {{>EmployerSideNav}}
      {{/if}}
         
      {{else}}
         {{>NavBarUnthenticated}}
      {{/if}}
    </div>
  </div>
</nav>
<div>
  {{>accountPremium}}
</div>
<div class="right" id="ytWidget"></div>
<script
  src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=ro&widgetTheme=light&autoMode=true"
  type="text/javascript"></script>