{{#if isAuthenticated}}

<!--jobseeker-->
{{#if JobSeeker}}
{{>NavBarEmployee}}
{{/if}}


{{#if Employer}}
{{>NavBarEmployer}}
{{/if}}

{{else}}
<nav class="white">
    <div class="container">
        <div class="nav-wrapper  lighten-4 ">

            <a href="/" class="brand-logo red-text text-lighten-1">Logo</a>
            <ul id="nav-mobile" class=" right hide-on-med-and-down">
                <li>
                    <a href="/jobs" class="grey-text text-darken-4">Exploreaza joburi</a>
                </li>
                <li>
                    <a href="/hire" class="grey-text text-darken-4">Angajeaza</a>
                </li>
                <li>
                    <a href="/chat" class="grey-text text-darken-4">Creaza Cv</a>
                </li>
                <li>
                    <a href="/login" class="waves-effect waves-light  btn ">Intra</a>
                </li>

                <li>
                <li>
                    <a class="dropdown-trigger btn" href="#!" data-target="register">
                        <span>înregistrare</span>
                    </a>
                </li>

                <ul id="register" class="dropdown-content">

                    <li>
                        <a href="/signup/jobseeker">Sunt In cautare de munca</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/signup/employer">Sunt Angajator</a>
                    </li>

                </ul>
                </li>
            </ul>

            <li>
                <a href="/jobs" class="grey-text text-darken-4">Exploreaza joburi</a>
            </li>
            <li>
                <a href="/my_jobs" class="grey-text text-darken-4">Angajeaza</a>
            </li>
            <li>
                <a href="/chat" class="grey-text text-darken-4">Creaza Cv</a>
            </li>
            <li>
                <a href="/login" class="waves-effect waves-light  btn ">Intra</a>
            </li>

            <li>
                <a class="dropdown-trigger btn" href="#!" data-target="registerSideNav">
                    <span>înregistrare</span>
                </a>
            </li>

            <ul id="registerSideNav" class="dropdown-content">

                <li>
                    <a href="/signup/jobseeker">Sunt In cautare de munca</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/signup/employer">Sunt Angajator</a>
                </li>

            </ul>
            <!-- side-nav -->
            <ul id="slide-out" class="sidenav">
                <li>
                    <a href="#!">Salut numele</a>
                </li>

            </ul>
            <!-- hamburger -->
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons grey-text text-darken-4">menu</i>
            </a>
     </nav>

  </div>
</div>
{{/if}}