 {{#if isAuthenticated}}
    <nav class="white">
            <div class="nav-wrapper  lighten-4 ">
              <a href="/api/profile" class="brand-logo red-text text-lighten-1 logo-employer">Employee</a>
              <div class="container">

                 <ul id="nav-mobile" class=" right hide-on-med-and-down">
                           <li>
                             <a href="/jobs" class="grey-text text-darken-4">Exploreaza joburi</a>
                            </li>
                            <li>
                                <a href="/api/application" class="grey-text text-darken-4">Joburi aplicate</a>
                            </li>
                            <li>
                                <a href="/api/chats" class="grey-text text-darken-4">Chats</a>
                            </li>
                            
                             <li>
                                <a href="/api/profile" class="grey-text text-darken-4">Cv meu</a>
                            </li>

                            <ul id="nav-mobile" class=" right hide-on-med-and-down">
                                    
                                    <!--dropdown-->
                                <li>
                                    <a class="dropdown-trigger black-text" href="#!" data-target="moreNavBar">  
                                        <span class="black-text">Mai mult</span> 
                                            <i class="material-icons right black-text">arrow_drop_down</i>
                                        </a>
                                </li>
                                <ul id="moreNavBar" class="dropdown-content">
                                    <li>
                                        <a href="#!">Ajutor</a>
                                    </li>
                                    <li>
                                        <a href="/api/settings">Setari</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a  href="/api/logout">Iesire</a>
                                    </li>
                             </ul>
                            </ul>
                         </ul>
                    </div>
                                            <!-- hamburger -->
                        <a href="#" data-target="slide-out" class="sidenav-trigger">
                            <i class="material-icons grey-text text-darken-4">menu</i>
                         </a>
                         <!--right side-->
            </div>
       

      
                    <!-- side-nav -->
        <ul id="slide-out" class="sidenav">
            <li>
                <a href="#!">Salut numele</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/jobs" class="grey-text text-darken-4">Exploreaza joburi</a>
            </li>
            <li>
                <a href="/api/application" class="grey-text text-darken-4">Joburi aplicate</a>
            </li>
            <li>
                <a href="/api/chats" class="grey-text text-darken-4">Chats</a>
            </li>
            
                <li>
                <a href="/api/profile" class="grey-text text-darken-4">Cv meu</a>
            </li>
           


          <!--dropdown-->
            <li>
                <a class="dropdown-trigger " href="#!" data-target="moreSideNav">Mai Mult
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

            <ul id="moreSideNav" class="dropdown-content">
            <li>
                <a href="/api/help">Ajutor</a>
            </li>
            <li>
                <a href="/api/settings">Setari</a>
            </li>
             <li>
                <a href="/api/logout"  class="waves-effect waves-light btn ">Iesire</a>
            </li>
            <li class="divider"></li>

            
        </ul>

            
      

        
    </nav>
    {{/if}}