{{>NavBar}}
<div class="container">
    <div class="card-panel">
        <h6> Pentru ajutor Contacteaze-ne pe acesta adresa de email: <email:span class="blue-text text-darken-2">jobapp@mail.com</email:span> </h6>
    </ul>
</div>
  {{!-- {{>alerts}}
      {{!-- <div class="row">
            <div class="col s12  m12 l6 offset-l3 off">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Contacteaze-ne</h4>
                  <form method="post" action="/contact-us">
                      <div class="row">
                        <div class="input-field col s12">
                            <label for="">Numele</label>
                            <input type="text"   placeholder="Numele dvs." name="name"  />
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <label for="">Mail</label>
                          <input type="email"  placeholder="mailul dvs." name="contactUsEmail" />
                        </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <label for="">Subiectul</label>
                          <input type="text"  placeholder="Subiectul" name="subject" />
                        </div>
                      </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
                                <label  >Mesajul</label>
                            </div>
                        </div>
                    <br>
                    <div class="row">
                      <button class="btn full-width-btn blue btn-large waves-effect waves-light " type="submit" >Trimite
                      </button>
                    </div>

    
                  </form> 
             
              </div>
            </div>
          </div> 
      </div> --}}
