{{>MainNavBar}}
<div class="container">
    <div class="card-panel">
        <h6> Pentru ajutor vă rugăm să ne contactați pe acest mail: <email:span class="blue-text text-darken-2">jobapp@mail.com</email:span> </h6>
    </ul>
</div>
  