.search-jobs-input{
    height: 45px;
    padding: 10px;
    border: none;
    margin-top: 5px;
    border: 1px solid $input-border-color;
   // box-shadow: 1px 1px 6px rgba(165, 173, 177, 0.75);
    outline: none;
    width: 100%;
    padding-left: 45px;
    font-size: 16px;
    border-radius:20px;
    &:hover{
        box-shadow: 2px 2px 2px rgba(165, 173, 177, 0.75);
 
    }
}
.search-jobs-icon{
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 35px;  
    color:grey;
   
}

.search-btn{
     margin-top: 13px;
     width: 100%;
     height: 45px;
    border-radius:23px!important;
  }
  

  @media (max-width:600px){
    .search-btn{
      margin-top: 0px;
      width: 100%;
    }
  }