.text-opacity{
    opacity: 0.5;
}


.card-position{
    font-size: 20px;
    padding:4px 0px 4px 0px;
    word-break: break-all;
}

.card-image, img{
    height: 169px;

 }
 .card-content-jobs{
     height: 250px;
 }
 
.salary{
    padding: 0px 0px 5px 0px;
    word-break: break-all;
    font-size: 13px;
}

.description{
    padding-bottom: 5px;
}

