

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;


.userImage {
    width: 30px;
    height: 30px;
}
   
.onlinebox {
    height: 600px;
    overflow-y: scroll;
     
}

.chatbox{
    height: 600px;
    overflow-y: scroll;
}

.online{
    color:green;
    width: 50px;
    height:50px;
}


.collection-item{
    word-break: break-all;

}


.user-one{
    width: 70%;
    word-break: break-all;
    background-color: #94C2ED;
    color: white;
    border-radius:7px;
    padding: 18px 20px;
    margin: 5px 0 10px 10px ;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 26px;

}
.message-data-user-one{
    margin: 10px 0px 0px 20px;
    .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }
}
.user-two{
    float: right;
    width: 70%;
    word-break: break-all;
    background-color: #86BB71;
    color: white;
    border-radius:7px;
    padding: 18px 20px;
    margin: 5px 10px 10px 0px ;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 26px;  
}


.message-data-user-two{
    float: right;
    margin: 10px 20px 0px 0;
    .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }
}
@media (max-width:600px){
    .onlinebox {
        height: 300px;
        overflow-y: scroll;
    
    }
    
    .chatbox{
        height: 400px;
        overflow-y: scroll;
    }
}

