<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
 
 <meta name="keywords" content="HTML,CSS,JavaScript">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src='https://www.google.com/recaptcha/api.js'></script>

  <noscript>You need to enable JavaScript to run this app.</noscript>
</head>
<body>
  {{{body}}}

 <script src="/dist/bundle.js"></script>
 
 <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.26.5'><\/script>".replace("HOST", location.hostname));
//]]></script>
 </body>
</html>