<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
 
 <meta name="keywords" content="HTML,CSS,JavaScript">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src='https://www.google.com/recaptcha/api.js'></script>

  <noscript>You need to enable JavaScript to run this app.</noscript>
</head>
<body>
  {{{body}}}

 <script src="/build/bundle.js"></script>

 </body>
</html>