    {{>NavBar}}
    <div class="container">
        <div class="row">
            <div class="col s12">
            </div>
           
            <div class="chat-container">
                <div class="col l4  m4 s12">
                 <h5>Online users</h5>
                 <hr>
                   
                    <div class="onlinebox ">
                      <ul class="collection chatmessage">
                        <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                            <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                           <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                           <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="col s12 m8 l8">
                    <h5><i class="material-icons">chat_bubble_outline</i> Chat Box</h5>
                    <hr>
                    <div class="chatbox">
                         {{!-- <li class="collection-item center">
                            <span> Radu Prodan</span>
                         </li> --}}
                          <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div> 
                                     <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div> 
                     
                                        <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div> 
                     
                              

                         
                         
                              
                    </div>
                    <form id="chat">
                       <textarea id="textarea1" class="materialize-textarea" placeholder="Scrie Mesaj"></textarea>
                        <button class="waves-effect waves-light  blue btn right"><i class="material-icons right">send</i>Trimite</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="model">
        <li>
            <img class="userImage circle" src="#">
            <i class="status"></i>
            <i class="when secondary-content">0</i>
            <b class="who"></b>:
            <span class="what"></span>
        </li>
    </div>