    {{>NavBar}}
    <div class="container">
        <div class="row">
            <div class="col s12">
            </div>
           
            <div class="chat-container">
                <div class="col  s12 m12 l4">
                 <h5>Online users</h5>
                 <hr>
                   
                    <div class="onlinebox ">
                      <ul class="chat-user-list">
                        <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                        <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                        <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                        <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                          <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                          <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  online">brightness_1</i> online
                          </div>
                        </div> 
                        </li>
                         <li class="chat-user">
                          <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                         <div class="about">
                          <div class="name">Mike Thomas</div>
                           <div class="status">
                            <i class=" tiny material-icons  offline">brightness_1</i> Offline
                          </div>
                        </div> 
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="col s12 m12 l8">
                    <h5><i class="material-icons">chat_bubble_outline</i> Chat Box</h5>
                    <hr>
                    <div class="chatbox">
                         <div class="chat-header">
                             Radu Prodan
                         </div>
                          <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div> 
                                     <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div> 
                     
                                        <div class="message-data-user-one">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          
                         <div class="chatmsg user-one ">
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
                         </div>


                          <div class="message-data-user-two">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                         <div class=" chatmsg user-two ">
                            <span class="what">Lorem Ipsum is simply dummy text of the printing and typesetting  Lorem Ipsum passages, and more recently with desktop publis</span>
                         </div>           
                    </div>
                    <form id="chat">
                       <textarea id="textarea1" class="materialize-textarea" placeholder="Scrie Mesaj"></textarea>
                        <button class="waves-effect waves-light  blue btn right"><i class="material-icons right">send</i>Trimite</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    