{{>NavBar}}
<div class="row #chat">
    <div class="col s12 m12 l2 chat_list_users">
        <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Ana Zirnohsdfghsgdfjsdlkmfffffffffffffffff      nsjdfjknjksdnkfjnjskd
              </span>
            </div>
          </div>
        </div>

        <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Radu Prodan     
              </span>
            </div>
          </div>
        </div>
        
        <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Ana Zirnohsdfghsgdfjsdlkmfffffffffffffffff      nsjdfjknjksdnkfjnjskd
              </span>
            </div>
          </div>
        </div>
        
        <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Ana Zirnohsdfghsgdfjsdlkmfffffffffffffffff      nsjdfjknjksdnkfjnjskd
              </span>
            </div>
          </div>
        </div>
         <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Ana Zirnohsdfghsgdfjsdlkmfffffffffffffffff      nsjdfjknjksdnkfjnjskd
              </span>
            </div>
          </div>
        </div>
         <div class="card-panel grey lighten-5 z-depth-1  card-chat">
            <div class="chat-image">
              <img src="https://fr.mailjet.com/wp-content/uploads/Pauline_DONORE-copy.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <div class="card-chat-name ">
              <span class="black-text truncate ">
                  Ana Zirnohsdfghsgdfjsdlkmfffffffffffffffff      nsjdfjknjksdnkfjnjskd
              </span>
            </div>
          </div>
        </div>
        
      </div>
       
     
      <div class="col s12 m12 l10 ">

        {{!-- <div class="card-panel white lighten-5 z-depth-1 center">
           <p>Esti in chat cu Ana Zirnov</p>
           <p>Active acum</p>
        </div> --}}
        <div class="chat-messages"></div>
      
         <form class="chat_form  ">
                <div class="input-field    ">
                
                 <button class="btn blue chat_btn"type='submit'>
                     <i class="material-icons">send</i>
                   </button>
                {{!-- <i class="material-icons prefix">textsms</i> --}}
                <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Trimite mesaj"></textarea>
                </div>
          </form>
        </div>
</div>