    {{>NavBar}}
    <div class="container">
        <div class="row">
            <div class="col s12">
              <h5><i class="material-icons">chat_bubble_outline</i>  realtime chat</h5>
              <hr>
            </div>
           
            <div class="chat-container">
                <div class="col l4  m4 s12">
    
                    <div class="onlinebox ">
                      <ul class="collection chatmessage">
                        <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                           <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                           <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                         <li class="collection-item">
                            <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                          radu prodan
                            <i class="status offline"></i>
                          <i class="status online"></i>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="col s12 m8 l8">
                    
                    <div class="chatbox">
                        <ul class="collection chatmessage">
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                           <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                          <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                           <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                         <li class="collection-item chatmsg" name="Hanna" status="offline">
                           <img  class="userImage circle" src="https://randomuser.me/api/portraits/men/23.jpg" alt="">
                            <i class="status offline"></i>
                            <i class="when secondary-content">4 months ago</i>
                            <b class="who">Hanna</b>
                            <span class="what">Hi chat with me :D</span>
                         </li>
                        </ul>
                    </div>
                    <form id="chat">
                        <input placeholder="Message" class="msg" required>
                        <button class="waves-effect waves-light btn"><i class="material-icons right">send</i>send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="model">
        <li>
            <img class="userImage circle" src="#">
            <i class="status"></i>
            <i class="when secondary-content">0</i>
            <b class="who"></b>:
            <span class="what"></span>
        </li>
    </div>