{{>NavBarHomePage}}

<div>Home Page</div>

 <div class="col s12 m12">
                <form action="">
                <div class="input-field">
                    <span>Programul</span>
                      <textarea id="textarea2" class="materialize-textarea"  data-length="70" placeholder="ex.Luni-Vineri 9AM-4PM" name="schedule_details"  required="true"></textarea>
                    <span for="textarea2"></span>
                </div>
                <button>submit</button>
              </form>
        </div>