  {{>NavBar}}
  <!-- search -->
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
        <form >
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix2" placeholder="Search"></input>
                
            </div>
        </form>
        </div>
     <div class="col s12 m6">
        <div class="input-field">
            <select>
                <option value="" selected>Catergories</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
     </div>
    </div>
    </div>

    <!-- Section: jobs -->
    <section id="jobs" class="section section-popular scrollspy">
        <div class="container">
            <div class="row">
                <h4 class="center">
                    <span class="teal-text">Popular</span> Jobs</h4>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p>
                                <b>LEI 9.83 - 10.83  LUNAR
                                    | <span>FULL-TIME</span>
                                </b>
                            </p>
                            <p class="flow-text">
                                <b>Bartender</b>
                            </p>
                            <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                architecto delectus?
                            </p>
                            <p>
                                <b>NUmele cine a postat</b>
                            </p>
                            <p>CHISINAU</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class=" btn white-text text-lighten-1 blue waves-effect">More</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p>
                                <b>EURO 9.83 - 10.83
                                    <span>FULL-TIME</span>
                                </b>
                            </p>
                            <p class="flow-text">
                                <b>Bartender</b>
                            </p>
                            <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                architecto delectus?
                            </p>
                            <p>
                                <b>NUmele cine a postat</b>
                            </p>
                            <p>East west, London</p>
                        </div>
                        <div class="card-action">
                                <a href="#" class=" btn white-text text-lighten-1">More</a>
                            </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p>
                                <b>DOLARI 9.83 - 10.83  LA-ORA
                                    | <span>FULL-TIME</span>
                                </b>
                            </p>
                            <p class="flow-text">
                                <b>Bartender</b>
                            </p>
                            <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                architecto delectus?
                            </p>
                            <p>
                                <b>NUmele cine a postat</b>
                            </p>
                            <p>East west, London</p>
                        </div>
                        <div class="card-action">
                                <a href="#" class=" btn white-text text-lighten-1">More</a>
                            </div>
                    </div>
                </div>



                <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <p>
                                    <b>$9.83 - 10.83
                                        <span>FULL-TIME</span>
                                    </b>
                                </p>
                                <p class="flow-text">
                                    <b>Bartender</b>
                                </p>
                                <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                    architecto delectus?
                                </p>
                                <p>
                                    <b>NUmele cine a postat</b>
                                </p>
                                <p>East west, London</p>
                            </div>
                            <div class="card-action">
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <p>
                                    <b>$9.83 - 10.83 pe-Ora
                                        <span>FULL-TIME</span>
                                    </b>
                                </p>
                                <p class="flow-text">
                                    <b>Bartender</b>
                                </p>
                                <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                    architecto delectus?
                                </p>
                                <p>
                                    <b>NUmele cine a postat</b>
                                </p>
                                <p>East west, London</p>
                            </div>
                            <div class="card-action">
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
                                </div>
                                <div class="card-content">
                                    <p>
                                        <b>$9.83 - 10.83
                                            <span>FULL-TIME</span>
                                        </b>
                                    </p>
                                    <p class="flow-text">
                                        <b>Bartender</b>
                                    </p>
                                    <p class="truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium,
                                        architecto delectus?
                                    </p>
                                    <p>
                                        <b>NUmele cine a postat</b>
                                    </p>
                                    <p>East west, London</p>
                                </div>
                                <div class="card-action">
                                    <a href="#" class="red lighten-1">More</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </section>


    {{>Footer}}