
  {{>SimpleNavBar}}
      {{#if error_msg}} 
          <div class="row" id="alert_box">
            <div class="container">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col s12 m10">
                    <div class="card-content white-text ">
                    {{#each error_msg}}
                          <p>{{msg}}</p>
                    {{/each}}
                  </div>
                  </div>
                  <div class="col s12 m2">
                    <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                </div>
              </div>
            </div>
            </div>
          </div>
      {{/if}}
 <div class="container">
      
   <div class="row">
  <form id="regForm" method="POST" action="/jobs/add">
    <div class="add-jobs-step-container" >
        <span class="step">Categoriii </span>
        <span class="step">Descriere</span>
        <span class="step">Locatie</span>
        <span class="step">Salariu</span>
        <span class="step">Detalii suplimentare</span>
        <span class="step">Fotografie</span>
    </div>

  <!-- One "tab" for each step in the form: -->
  
  <div class="tab"> 
       <h4>Categoria jobului</h4> <!--obligatoriu-->
          <div class="col s12 m6">
                  
                   <label>
                        <input class="with-gap"  type="radio" value="Barista și Barman"   name="category"  />
                        <span class="category-title">Barista și Barman</span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="Frumuseţe si Bunastare" />
                        <span class="category-title">Frumuseţe si Bunastare </span>
                    </label>
                        <hr>
                      <label>
                        <input class="with-gap"  type="radio"  name="category" value="Îngrijitorii și sănătatea" />
                        <span class="category-title">Îngrijitorii și sănătatea </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="Bucatar" />
                        <span class="category-title">Bucatar </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                  </div>
           <div class="col s12 m6">
                    <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                  </div>
      
          </div>
    <!--job description--> <!--obligatoriu-->
    <div class="tab">
        <h4>Descriere job</h4>
        <div class="col s12 m12">
            <div class="input-field">
            <input id="position " type="text" placeholder="Pozitie"  data-length="70" name="position" class="validate" required="true" maxlength="70" >
            </div> 
        </div>
        <div class="col s12 m12">
                <div class="input-field">
                <textarea id="description" class="materialize-textarea"  data-length="300" placeholder="ex.Descriere" name="job_description"  class="validate" maxlength="300"></textarea>
                    <span for="description"></span>
                </div>
            </div>
    </div>


  <div class="tab">
     <h4>Unde este localizat jobul ?</h4>
     <!--select city--> <!--obligatoriu-->
         <div class="input-field">
            <select  name="city">
                <option value="" selected>Orasul</option>
                 <option value="Chisinau">Chisinau</option>
                <option value="Balti">Balti</option>
            </select>
        </div>
   </div>
  

    <div class="tab">
     <h4>Tipul de angajare</h4>
        <div class="col s12 m12">
            <!--obligatoriu-->
            <label>
            <input class="with-gap validate"  type="radio"  value="FULL-TIME" name="employment_type" />
            <span>Full-time</span>
        </label>
            <br>
        <label>
            <input class="with-gap "  type="radio"  value="PART-TIME" name="employment_type"/>
            <span>Part-time</span>
        </label>  
    </div>
       <!-- nu e obligatoriu-->
        <div class="col s12 m12">
                <div class="input-field">
                    <span>Programul</span>
                      <textarea id="textarea2" class="materialize-textarea"  data-length="70" placeholder="ex.Luni-Vineri 9AM-4PM" name="schedule_details"  maxlength="70" ></textarea>
                    <span for="textarea2"></span>
                </div>
        </div>

        <div class="col s12 m12">
        <label>
             <input type="checkbox"   value="Începeți imediat" name="immediate_start"  />
                <span >Începeți imediat</span>
            </label>
        </div>
       
            <div class="col s12 m8">
                <div class="input-field">
                    <span>Salariu</span>
                      <input  type="text" placeholder="Salariu lunar"  name="salary"  maxlength="8">
                </div>   
            </div>
            <div class="col s12 m3">
                <div class="input-field">
                      <span>Valuta</span>
                    <select name="currency">
                        <option value="LEI" selected>LEI</option>
                        <option value="EURO">EURO</option>
                        <option value="DOLARI">DOLARI</option>
                    </select>
                </div>
        </div>
            
            <div class="col s12 m12">
                <div class="input-field">
                    <span>Compensare suplimentară (comisioane etc.)</span>
                <textarea id="textarea2" class="materialize-textarea"  data-length="70" placeholder="ex. Compensare suplimentară (sfaturi, comisioane etc.)" name="commission"  maxlength="70"></textarea>
                    <span for="textarea2"></span>
                </div>
            </div>
    </div>

        <div class="tab">
            <h4>Detalii Suplimentare</h4>
            <!--additional information-->
                <div class="col s12 m12">
                    <span>Acest rol necesită experiență?</span> <!--obligatoriu-->
                    <br>
                <label>
                    <input class="with-gap"  type="radio" value="experiență necesara" name="experience"  />
                    <span>Da</span>
                </label>
                    <br>
                <label>
                    <input class="with-gap"  type="radio" value="Fără experiență" name="experience"  />
                    <span>Nu</span>
                </label>
                    <br>

                </div>

                <div class="col s12 m12">
                    <p>Sunt necesare anumite competențe lingvistice ? optional</p>
                    <div class="input-field">
                        <select name="language">
                            <option value="" selected>Selecteaza Limba</option>
                            <option value="Engleza">Engleza</option>
                            <option value="Germana">Germana</option>
                        </select>
                    </div>
            </div>
                
                    <div class="col s12 m12">
                            <div class="input-field">
                                <select id="myList2" name="language_level">
                                    <option value="" selected>Nivel</option>
                                    <option value="Basic">Basic</option>
                                    <option value="Intermediar">Intermediar</option>
                                    <option value="AVansat">Avansat</option>
                                    <option value="Nativ">Nativ</option>
                                </select>
                            </div>
                    </div>
        </div>

        <div class="tab">

            <!--image upload-->
                    <h4>Adauga imagine</h4>
                    <div class="col s12 m12">

                    <div class="file-field input-field">
                        <div class="btn blue ">
                            <span>  Incarca imagine</span>
                            <input  type="file" >
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path " type="text" placeholder=" Incarca imagine">
                        </div>
                   </div>
               </div>
            </div>

          
        <div class="col s12 m12">
            <button type="button" class="btn grey left" id="prevBtn" onclick="nextPrev(-1)">Inapoi</button>
            <button type="button"  class="btn blue right" id="nextBtn" onclick="nextPrev(1)">Continua  <i class="material-icons right">send</i></button>
        </div>
        <!-- Circles which indicates the steps of the form: -->
   </form>
            
      <!--upload photo-->      
     </div> <!--row ends-->
</div><!--container-->



<script>

    var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Posteaza";
  } else {
    document.getElementById("nextBtn").innerHTML = "Continua";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  //if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}


function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>


