  {{>NavBarEmployer}}
 
 <div class="container">
   <div class="row">
      <div class="col s12 m6">
        <div class="input-field">
            <select>
                <option value="" selected>Categories</option>
                <option value="1">Barista & Bartender</option>
                <option value="2">Beauty & Wellness</option>
                <option value="3">Careworkers & Health</option>
                <option value="4">Chef & Cook</option>
                <option value="5">Cleaning</option>
                <option value="6">Construction</option>
                <option value="7">Driver & Courier</option>
                <option value="8">Education</option>
                <option value="9">Office & Admin</option>
                 <option value="10">Retail</option>
                <option value="11">Sales & Marketing</option>
                <option value="12">Waiter or Waitress</option>
                <option value="13">Warehouse</option>
                <option value="14">Other</option>

            </select>
        </div>
         <div class="input-field">
            <select>
                <option value="" selected>City</option>
                 <option value="1">Chisinau</option>
                <option value="2">Balti</option>
            </select>
        </div>
     </div>
       <div class="col s12 m6">
        <div class="input-field">
           <input  type="text" placeholder="Position" class="validate">
        </div>
  
          <textarea id="textarea1" cols="30" rows="5" placeholder="Describe the role clearly to attract quality candidates"></textarea>
        <span> 0/300</span>
     </div>
   </div>
 </div>