
  {{>SimpleNavBar}}
      {{#if error_msg}} 
          <div class="row" id="alert_box">
            <div class="container">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col s12 m10">
                    <div class="card-content white-text ">
                    {{#each error_msg}}
                          <p>{{msg}}</p>
                    {{/each}}
                  </div>
                  </div>
                  <div class="col s12 m2">
                    <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                </div>
              </div>
            </div>
            </div>
          </div>
      {{/if}}
 <div class="container">
      <div class="row">
        <form id="regForm" method="POST" action="/jobs/add">
        <h4>Categoria jobului</h4> <!--obligatoriu-->
          <div class="col s12 m6"> 
                   <label>
                        <input class="with-gap"  type="radio" value="Barista și Barman"   name="category"  />
                        <span class="category-title">Barista și Barman</span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="Frumuseţe si Bunastare" />
                        <span class="category-title">Frumuseţe si Bunastare </span>
                    </label>
                        <hr>
                      <label>
                        <input class="with-gap"  type="radio"  name="category" value="Îngrijitorii și sănătatea" />
                        <span class="category-title">Îngrijitorii și sănătatea </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="Bucatar" />
                        <span class="category-title">Bucatar </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                  </div>
           <div class="col s12 m6">
                    <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                     <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                         <label>
                        <input class="with-gap"  type="radio"  name="category" value="on" />
                        <span class="category-title">bold </span>
                    </label>
                        <hr>
                  </div>
      

            <!--job description--> <!--obligatoriu-->

                <div class="col s12 m12">
                <h4>Descriere job</h4>
                    <div class="input-field">
                    <input id="position " type="text" placeholder="Pozitie"  data-length="70" name="position" class="validate" maxlength="70" >
                    </div> 
                </div>
                <div class="col s12 m12">
                        <div class="input-field">
                        <textarea id="description" class="materialize-textarea"  data-length="300" placeholder="ex.Descriere" name="job_description"  class="validate" maxlength="300"></textarea>
                            <span for="description"></span>
                        </div>
                    </div>

 
                    <h4>Unde este localizat jobul ?</h4>
                    <!--select city--> <!--obligatoriu-->
                        <div class="input-field">
                            <select  name="city">
                                <option value="" selected>Orasul</option>
                                <option value="Chisinau">Chisinau</option>
                                <option value="Balti">Balti</option>
                            </select>
                        </div>
                    
                        <h4>Tipul de angajare</h4>
                            <div class="col s12 m12">
                                <!--obligatoriu-->
                                <label>
                                <input class="with-gap validate"  type="radio"  value="FULL-TIME" name="employment_type" />
                                <span>Full-time</span>
                            </label>
                                <br>
                            <label>
                                <input class="with-gap "  type="radio"  value="PART-TIME" name="employment_type"/>
                                <span>Part-time</span>
                            </label>  
                        </div>
                    <!-- nu e obligatoriu-->
                        <div class="col s12 m12">
                                <div class="input-field">
                                    <span>Programul</span>
                                    <textarea id="textarea2" class="materialize-textarea"  data-length="70" placeholder="ex.Luni-Vineri 9AM-4PM" name="schedule_details"  maxlength="70" ></textarea>
                                    <span for="textarea2"></span>
                                </div>
                        </div>

                        <div class="col s12 m12">
                        <label>
                            <input type="checkbox"   value="Începeți imediat" name="immediate_start"  />
                                <span >Începeți imediat</span>
                            </label>
                        </div>
                    
                            <div class="col s12 m8">
                                <div class="input-field">
                                    <span>Salariu</span>
                                    <input  type="text" placeholder="Salariu lunar"  name="salary"  maxlength="8">
                                </div>   
                            </div>
                            <div class="col s12 m4">
                                <div class="input-field">
                                    <span>Valuta</span>
                                    <select name="currency">
                                        <option value="LEI" selected>LEI</option>
                                        <option value="EURO">EURO</option>
                                        <option value="DOLARI">DOLARI</option>
                                    </select>
                                </div>
                        </div>
                            
                            <div class="col s12 m12">
                                <div class="input-field">
                                    <span>Compensare suplimentară (comisioane etc.)</span>
                                <textarea id="textarea2" class="materialize-textarea"  data-length="70" placeholder="ex. Compensare suplimentară (sfaturi, comisioane etc.)" name="commission"  maxlength="70"></textarea>
                                    <span for="textarea2"></span>
                                </div>
                            </div>
                

                            
                                <!--additional information-->
                                    <div class="col s12 m12">
                                        <h4>Detalii Suplimentare</h4>
                                        <span>Acest rol necesită experiență?</span> <!--obligatoriu-->
                                        <br>
                                    <label>
                                        <input class="with-gap"  type="radio" value="experiență necesara" name="experience"  />
                                        <span>Da</span>
                                    </label>
                                        <br>
                                    <label>
                                        <input class="with-gap"  type="radio" value="Fără experiență" name="experience"  />
                                        <span>Nu</span>
                                    </label>
                                        <br>

                                    </div>

                                    <div class="col s12 m12">
                                        <p>Sunt necesare anumite competențe lingvistice ? optional</p>
                                        <div class="input-field">
                                            <select name="language" multiple>
                                                <option value="" disabled select>Selecteaza Limba</option>
                                                <option value="Engleza">Engleza</option>
                                                <option value="Germana">Germana</option>
                                            </select>
                                        </div>
                                </div>
                                    
                                    
                                        
                                    <!--image upload-->
                                            <div class="col s12 m12">
                                            <h4>Adauga imagine</h4>

                                            <div class="file-field input-field">
                                                <div class="btn blue ">
                                                    <span>  Incarca imagine</span>
                                                    <input  type="file" >
                                                </div>
                                                <div class="file-path-wrapper">
                                                <input class="file-path " type="text" placeholder=" Incarca imagine">
                                                </div>
                                        </div>
                                    </div>             
                                        <button type="submit"  class="btn blue right">Posteaza<i class="material-icons right">send</i></button>
                                   
                                <!-- Circles which indicates the steps of the form: -->
                        </form>            
     </div> <!--row ends-->
</div><!--container-->




