.close_icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
    border: 1px solid white;
    border-radius:10px;
    &:hover{
      opacity: 0.8;
    }
}


