.full-width-btn {
    width: 100%;
  &:hover{
    opacity: 0.8;
  }
}
.search-btn{
  margin-top: 22px;
  width: 100%;
}

@media (max-width:600px){
  .search-btn{
    margin-top: 0px;
    width: 100%;
  }
}