$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
.search_candidates_form {
    padding: 10px 15px 10px 15px;
}

.search-cadidate-input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 6px rgba(165, 173, 177, 0.75);
    outline: none;
    width: 100%;
    padding-left: 45px;
    font-size: 16px;
    &:hover {
        box-shadow: 2px 4px 8px rgba(165, 173, 177, 0.75);
    }
}

.search-candidate-icon {
    position: absolute;
    top: 54px;
    left: 20px;
    font-size: 35px;
    color: grey;
}

.candidates-list {
    height: 800px;
    overflow-y: scroll;
}

.search-candidate-btn {
    width: 100%;
}

.candidates-list-item {
    display: flex;
    color: black;
    &:hover {
        border: solid 2px $blue;
    }
}

.avatar-wrapper-candidate {
    width: 150px;
    height: 100%;
    .candidate-search-avatar {
        width: 120px;
        height: 120px;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media(max-width:992px) {
    .candidates-list {
        height: 500px;
        overflow-y: scroll;
    }
}