{{>SimpleNavBar}}
 {{#if error_msg}} 
          <div class="row" id="alert_box">
            <div class="container">
              <div class="card red darken-1">
                <div class="row">
                  <div class="col s12 m10">
                    <div class="card-content white-text ">
                    {{#each error_msg}}
                          <p>{{msg}}</p>
                    {{/each}}
                  </div>
                  </div>
                  <div class="col s12 m2">
                    <i class="material-icons close_icon_style " id="alert_close">close</i>                            
                </div>
              </div>
            </div>
            </div>
          </div>
      {{/if}}
      <div class="row">
            <div class="col s12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Schimba Paorola</h4>
                  <form method="post" action="/change/password">
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="password"   placeholder="Parola" name="change_password"  />
                        </div>
                        </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="password"  placeholder="Confirma Parola" name="confirm_password" />
                      </div>
                    </div>
                      <div class="col s12 m12">
               </div>
                    <br>
                    <div class="row">
                      <button class="btn full-width-btn blue btn-large waves-effect waves-light " type="submit" >Posteaza
                      </button>
                    </div>
                  </form> 
             
              </div>
            </div>
          </div> 
      </div>


