{{>NavBarEmployer}}
   {{>alerts}}
      <div class="row">
            <div class="col s12 l4 offset-l4">
              <div class="card ">
                <div class="card-content">
                  <h4 class="card-title center-align">Editeaza profilul</h4>
                  <form method="post" action="/profile/edit/employer">
                      <div class="row">
                        <div class="input-field col s12">
                            <input type="text"   placeholder="Numele" name="firstName" value='{{result.first_name}}' />
                        </div>
                        </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text"  placeholder="Numele de familie" name="lastName" value="{{result.last_name}}" />
                      </div>
                    </div>
                      <div class="col s12 m12">
               </div>
                    <br>
                    <div class="row">
                      <button class="btn  full-width-btn blue btn-large waves-effect waves-light " type="submit" >Posteaza
                      </button>
                    </div>
                  </form> 
             
              </div>
            </div>
          </div> 
      </div>


