{{>NavBarEmployer}}
{{>alerts}}
<section class="section section-popular scrollspy">
  <div class="container">
    <div class="job-container">
      <div class="row">
        <a href="/jobs/add" class="btn blue post-job-btn  btn-large">Posteaza job</a>
        {{#if results}}
        {{#each results}}
        <div class="col s12 m6 l4">
          <a href="/employer/job/detail" target="_blank">
            <div class="card hoverable">
              <div class="card-image small">
                {{#if this.image}}
                <img src="{{this.image}}" alt="">
                {{else}}
                <img src="/images/no_job_image.png" alt="">

                {{/if}}
                <span class="card-title yellow-text text-lighten-1 ">{{start_time}}</span>
                <a href="/job_image/edit/{{id}}" class="btn-floating btn-large halfway-fab  waves-effect waves-light blue tooltipped "
                  data-position="top" data-tooltip="Schimba Imaginea"><i class="material-icons">edit</i></a>
              </div>
              <div class="card-content card-content-jobs">
                <p>
                  <b> <span class="salary-card">{{salary}} {{currency}}</span>
                    <span>{{employment_type}}</span>
                  </b>
                </p>

                <p class="card-position"> <b>{{position}}</b> </p>
                <p><b>company name</b></p>
                <p class="truncate description text-opacity">{{description}}</p>
                <p class="text-opacity">{{city}}</p>
              </div>
              <div class="card-action">
                <a class='dropdown-trigger btn blue  full-width-btn' href='#' data-target='employerJobsDropdown'>Editeaza</a>

                <!-- Dropdown Structure -->
                <ul id='employerJobsDropdown' class='dropdown-content'>
                  <li><a class="black-text" href="/job/edit/{{id}}" >Editeaza</a></li>
                  <li><a class="black-text" href="/job/details/{{id}}" target="_blank">Detailii</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li>
                    <form method="POST" action="/job/delete/{{id}}?_method=DELETE">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <button class="btn delete-employer-job-btn full-width" type='submit' value='delete'>Sterge</button>
                    </form>
                  </li>
                </ul>
                <li>
              </div>
            </div>
          </a>
        </div>
        {{/each}}

        {{else}}
        <h4 class="center">Nici un job nu este disponibil la moment</h4>
        {{/if}}
      </div>
    </div>
</section>