

  {{>SimpleNavBar}}
    {{>alerts}}
 <div class="container">
      <div class="row">
        <form id="profile_avatar_form" method="POST"  data_avatar_id="{{result.id}}">
          <h4>Schimba imaginea</h4> <!--obligatoriu-->
            <p class="job_image_edit_error error"></p>                                 
                   <!--image upload-->
                        <div class="progress">
                          <div class="determinate "id="progressBarAavatar" value="0" max="100" style="width: 0%"></div>
                          <span class="sr-only"></span>
                        </div>
                              <div class="col s12 m12">
                               <p class="avatar_image_error error"></p>
                              <h4>Adauga imagine</h4>
                              <div class="file-field input-field">
                                  <div class="btn blue ">
                                      <span>  Incarca imagine</span>
                                      <input  type="file" id="profile_avatar" name="profile_avatar" accept=".jpeg, .jpg, .png" >
                                  </div>
                              <div class="file-path-wrapper">
                                  <input class="file-path " type="text" placeholder=" Incarca imagine">
                              </div>
                          </div>
                      </div>  

                <button type="submit"  class="btn blue right">Posteaza<i class="material-icons right">send</i></button>
             <div id="statusd"></div>
                                <!-- Circles which indicates the steps of the form: -->
        </form>   
                                     
     </div> <!--row ends-->
</div><!--container-->


