{{>MainNavBar}}
  <section id="search" class="section section-search-home-page teal  purple darken-1 white-text center scrollspy">
    <div class="container">
      <h1 class="welcome-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit</h1>
      <div class="row">
     <form action="">
        <div class="col s12 m12 l8 ">
            <div class="input-field">
             <i class="material-icons  search-jobs-icon">search</i>
                <input class="white grey-text autocomplete browser-default search-jobs-input" placeholder="Gaseste de munca" type="text" >
             </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="input-field">
             <i class="material-icons  search-jobs-icon">room</i>
                <input class="white grey-text autocomplete browser-default search-jobs-input " placeholder="Gaseste de munca" type="text" >
            </div>
        </div>
         <div class="col s12 m12 l12">
            <div class="input-field">
                <input  type='submit' class="btn btn-large  red darken-3 full-width-btn hp-btn-search" value="cauta"/>
            </div>
         </div>
       </form>
      </div>
    </div>
  </section>


  <!-- Section: Popular -->
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
    
     <a href="/api/jobs" target="_blank" class="right">Vezi mai mult</a>
        <h4> <span class="black-text bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
        <div class="col s12 m6  l3 ">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
              <span class="card-title">Cancun, Mexico</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
              <span class="card-title">The Bahamas</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12  m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Nova Scotia</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12  m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Nova Scotia</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        
        <a href="/api/jobs" target="_blank" class="right">Vezi mai mult</a>
        <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
              <span class="card-title">Cancun, Mexico</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
              <span class="card-title">The Bahamas</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Nova Scotia</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Nova Scotia</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="/api/jobs" class="btn btn-large blue" target="_blank">
            <i class="material-icons left">send</i>Navigheaza Toate Joburile
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Follow -->
  <section class="section section-follow  grey lighten-4  black-text center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Urmarestene</h4>
          <p>Urmarestene pe social media pentru a afla cele mai recente offerte</p>
          <a href="htttps://facebook.com" target="_blank" class="white-text">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="htttps://twitter.com" target="_blank" class="white-text">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="htttps://linkedin.com" target="_blank" class="white-text">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="htttps://googleplus.com" target="_blank" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="htttps://pinterest.com" target="_blank" class="white-text">
            <i class="fab fa-pinterest fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: footer primary-->
  <section  class="footer-primary scrollspy">
    <div class="container">
    <div class="row">
        <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
       </div>
     </div>
  </section>
 
 
  <!-- Footer -->
  <footer class="section grey lighten-4 black-text ">
  <div class="container">
    <div class="row">
        <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
         <div class="col s6 m6 l3 ">
        <p><b>Popular hospitality jobs in London</b></p>
        <ul>
            <li><a  class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
            <li><a class="black-text" href="">Barista and bartender jobs </a></li>
        </ul>
        </div>
       </div>
     </div> 
    <p class="flow-text center">brand &copy; 2019</p>
  </footer>
 