
*{
    list-style-type: none;
}
body{
    overflow-x:hidden;
}

.hidden-category{
    display: none;
}


.start_time{
    margin-top: 10px;
}


@media (min-width:992px){
    
    .logo-employer{
      margin: 0 0 0 30px;

    }
}